# Archivos de Python y Caché
__pycache__/
*.py[cod]
*.pyo
*.pyd

# # Entornos virtuales (cada miembro debe crear su propio entorno)
# venv/

# Archivos de configuración sensible
.env
.env.*

# # Archivos de base de datos local (SQLite) 
# db.sqlite3

# Archivos de caché y logs (pueden variar por entorno)
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.so
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Configuración específica del sistema operativo
Thumbs.db
ehthumbs.db
Desktop.ini